:root {
    --clr--333:#333333;
    --clr--333cc:#333333CC;
    --clr--blue:#4762FF;
    --clr--white:#FFFFFF;
    --clr--rgba:rgba(237, 231, 231, 0.7);
    --clr--000:#000000;
    --clr--1A1A:#1A1A1A;
    --clr--7070:#707070;
    --clr--FFFCC:#FFFFFFCC;
    --clr--647:#647af8;
    --clr--gray:gray;
    --clr--rgb: rgb(249, 239, 239);
    --clr--00CC: #000000CC;
    --clr--3399: #33333399;
    --clr--color-blue: blue;
}