.catagory {
    &__title {
        @include Typography($fw:700, $fs:48px, $lh:100%, $ls:0%, $clr:var(--clr--333));
        text-align: center;
    }

    &__list {
        margin-top: 64px;
        margin-bottom: 66px;
        @include HeaderDisplayFlex();
        justify-content: center;
        gap: 26px;
    }

    &__item:hover {
        transition: 0.3s;
        transform: scale(1.05);
    }

    &__item {
        width: 250px;
        border-radius: 6px;
        border: 2px solid var(--clr--rgba);
    }

    &__list-title {
        padding-left: 19px;
        margin-bottom: 16px;
        @include Typography($fw:500, $fs:20px, $lh:150%, $ls:0%, $clr:var(--clr--000));
        vertical-align: middle;
        opacity: 80%;
    }

    &__list-sub {
        padding-left: 19px;
    }

    &__item-sub>span {
        @include Typography($fw:500, $fs:14px, $lh:20px, $ls:0%, $clr:var(--clr--333));
        opacity: 60%;
    }

    &__item-sub {
        margin-top: 8px;
        @include Typography($fw:700, $fs:14px, $lh:20px, $ls:0%, $clr:var(--clr--333));
        opacity: 80%;
    }

    &__btn {
        padding: 9px 61px 10px 61px;
        border-radius: 8px;
        margin-bottom: 20px;
        margin-top: 20px;
        border: 2px solid var(--clr--blue);
        @include Typography($fw:500, $fs:18px, $lh:100%, $ls:1.27px, $clr:var(--clr--white), $bg-clr:var(--clr--blue));
        text-align: center;
        cursor: pointer;
    }

    &__btn:hover {
        @include BtnHover();
    }

    &__btn:active {
        @include BtnActive();
    }
}