.second-page-hero {
    margin: 0 auto;
    height: 566px;
    background-image: url("../images/carusel-bg1.png");
}

.hero {
    &__subs {
        padding-top: 6px;
        @include HeaderDisplayFlex();
        gap: 6px;
    }
    
    &__section-sub {
      @include Typography($fw:400, $fs:20px, $lh:100%, $ls:0%, $clr:var(--clr--white));
      opacity: 80%;
    }
    
    &__section-span {
      @include Typography($fw:500, $fs:20px, $lh:100%, $ls:0%, $clr:var(--clr--white));
    }
    &__content-wrapper {
      padding-top: 140px;
      padding-bottom: 166px;
    }
  
    &__title {
      width: 582px;
      @include Typography($fw:700, $fs:20px, $lh:100%, $ls:0%, $clr:var(--clr--white));
      text-transform: uppercase;
    }
  
    &__desc {
      margin-top: 16px;
      width: 480px;
      @include Typography($fw:400, $fs:24px, $lh:100%, $ls:0%, $clr:var(--clr--FFFCC));
      opacity: 80%;
    }
  
    &__btn {
      margin-top: 32px;
      padding: 15px 30px 15px 31px;
      border-radius: 8px;
      font-family: 'Montserrat', sans-serif;
      @include Typography($fw:600, $fs:18px, $lh:100%, $ls:0%, $clr:var(--clr--white), $bg-clr:var(--clr--blue));
      border: 2px solid var(--clr--blue);
      cursor: pointer;
    }
  
    &__btn:hover {
      @include BtnHover();
    }
  
    &__btn:active {
      @include BtnActive();
    }
  }