.document {
&__section-title {
    font-family: 'Montserrat', sans-serif;
    @include Typography($fw:700, $fs:48px, $lh:100%, $ls:0%, $clr:var(--clr--333));
    text-align: center;
}
&__img {
    text-align: center;
    margin-top: 42px;
    margin-bottom: 74px;
    margin-left: 70px;
   
}
}