.second-page-header {
    padding: 30px 0 16px;
}

.header {
    &__list {
        padding-bottom: 10px;
        justify-content: end;
        gap: 20px;
        border-bottom: 2px solid var(--clr--rgba);
        @include HeaderDisplayFlex();
    }

    &__desc {
      @include PhoneStyle();
    }

    &__item-select {
        padding-left: 12px;
        gap: 6px;
        border-left: 2px solid var(--clr--rgba);
        @include HeaderDisplayFlex();
    }

    &__border {
        height: 50px;
    }

    &__phone {
        @include Typography($fw:400, $fs:16px, $lh:100%, $ls:0%, $clr:var(--clr--color-33B2));
        @include HeaderDisplayFlex();
        gap: 8px;
    }

    &__phone:hover {
        color: var(--clr--blue);
    }

    &__kontact {
        @include Typography($fw:400, $fs:16px, $lh:100%, $ls:0%, $clr:var(--clr--color-33B2));
    }

    &__kontact:hover {
        color: var(--clr--blue);
    }

    &__select-language {
        @include Typography($fw:500, $fs:16px, $lh:20px, $ls:1.27px, $clr:var(--clr--color-000));
    }

    &__option {
        background-color: var(--clr--blue);
        color: var(--clr--white);
    }

    &__phone-item {
        @include HeaderDisplayFlex();
        justify-content: space-between;
    }

    &__img {
        margin-top: 18px;
    }

    &__logo {
        @include HeaderDisplayFlex();
        gap: 6px;
    }

    &__top {
        margin-top: 28px;
        @include Typography($fw:500, $fs:20px, $lh:100%, $ls:0%, $clr:var(--clr--color-333));
    }

    &__top:hover {
        color: var(--clr--blue);
    }

    &__nav-links {
        margin-top: 26px;
        @include HeaderDisplayFlex();
        gap: 46px;
        width: 446px;
        margin-left: 90px;
    }

    &__nav-link-item {
        @include Typography($fw:500, $fs:16px, $lh:100%, $ls:0%, $clr:var(--clr--1A1A));
    }

    &__nav-link-item:hover {
        color: var(--clr--blue);
    }

    &__search {
        @include HeaderDisplayFlex();
        gap: 8px;
    }

    &__search-item {
        @include HeaderDisplayFlex();
        gap: 10px;
        margin-top: 26px;
        margin-right: 40px;
    }

    &__input {
        @include Input();
    }

    &__consultation-btn {
        @include BtnStyle();
    }

    &__consultation-btn:hover {
        @include Typography($fw:500, $fs:16px, $lh:158%, $ls:0.75%, $clr:var(--clr--white), $bg-clr:var(--clr--blue));
    }

    &__consultation-btn:active {
       @include BtnActive();
    }

}