.about {
    &__section-wrapper {
        text-align: center;
        margin-top: 67px;
        @include Typography($fw:700, $fs:48px, $lh:100%, $ls:0%, $clr:var(--clr--333));
    }

    &__item {
        margin-top: 51px;
        width: 350px;
    }

    &__item-title {
        margin-top: 40px;
        margin-bottom: 100px;
        font-family: 'Montserrat', sans-serif;
        @include Typography($fw:500, $fs:18px, $lh:100%, $ls:0%, $clr:var(--clr--333));
        opacity: 80%;
    }

    &__item-top {
        font-family: 'Montserrat', sans-serif;
        @include Typography($fw:700, $fs:100px, $lh:100%, $ls:0%, $clr:var(--clr--blue));
        text-align: center;
    }

    &__list {
        @include HeaderDisplayFlex();
        gap: 56px;
    }
}