.service {
    &__section-wrapper {
        text-align: center;
    }

    &__title {
        @include Typography($fw:700, $fs:48px, $lh:100%, $ls:0%, $clr:var(--clr--333));
        text-align: center;
        text-transform: lowercase;
    }

    &__desc {
        width: 873px;
        margin-top: 30px;
        margin: 0 auto;
        @include Typography($fw:400, $fs:18px, $lh:100%, $ls:0%, $clr:var(--clr--333));
        opacity: 80%;
    }

    &__img {
        margin-top: 40px;
    }

    &__partners-title {
        text-align: center;
        margin-top: 67px;
        @include Typography($fw:700, $fs:48px, $lh:100%, $ls:0%, $clr:var(--clr--333));
    }
}

.partners {
    margin-top: 50px;
    @include HeaderDisplayFlex();
    justify-content: center;
    gap: 50px;
}